<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>598656295241-nikrhqbq5tlagnhra0f80uvdtqhbndch.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.598656295241-nikrhqbq5tlagnhra0f80uvdtqhbndch</string>
	<key>API_KEY</key>
	<string>AIzaSyCMl33GRc4qxgt6Eyo_e7iwxNiPSN04odU</string>
	<key>GCM_SENDER_ID</key>
	<string>598656295241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kevinthomas.Mumbai-Metro</string>
	<key>PROJECT_ID</key>
	<string>mumbaimetro-31bb2</string>
	<key>STORAGE_BUCKET</key>
	<string>mumbaimetro-31bb2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:598656295241:ios:82cd808d440c4d26df7a98</string>
</dict>
</plist>